/* style.css */
html, body {
    /* height: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
    color: #FFFFFF;
}


button {
    padding: 20px 40px;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#upButton {
    position: absolute;
    left: 50%;
    bottom: 12.5%;  /* Places the button 12.5% above the bottom edge */
    transform: translate(-50%, 50%); /* Offsets the button so its center is at that point */
    
    /* Base styling for the button */
    color: white; /* Text fille color */
    -webkit-text-stroke: rgba(169, 169, 169, 0.3);/* Text stroke: 1px thick black border */
    padding: 40px 20px;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgba(169, 169, 169, 0.3);
    border-radius: 120px;
    background-color: rgba(169, 169, 169, 0.6);

    /* Brings button to above iframe */
    z-index: 1;
    
    /* Smooth transition for the active effect */
    transition: transform 0.1s ease, background-color 0.1s ease;
}
